# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# mcp & legacy forge
conf
docs
forge
jars
logs
src
reobf
runtime
temp
*.bat
*.sh